---
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Elian Emir Developer">
	<main>
		<Hero />
		<Projects />
		<Skills />
	</main>
</Layou>
<style is:inline>
	.hero {
		background: center/80% url("/planet.png");
	}
</style>