---
import GitHubIcon from './GitHubIcon.astro';
import LinkedInIcon from './LinkedInIcon.astro';

---

<footer class='p-8 bg-blue-950'>
  <div class='container lg:w-[60rem] mx-auto'>
    <a href="https://www.linkedin.com/in/elian-emir-hadad/" class="flex gap-2 hover:text-green-600">
      <LinkedInIcon />
      <span>Elian Emir - LinkedIn</span>
    </a>
    <a href="https://github.com/Elianhad" class="flex gap-2 hover:text-green-600">
      <GitHubIcon />
      Elianhad - GitHub
    </a>
    <div class="flex gap-3 divide-x-2 mt-2">
      <p>Hecho por <span class="text-green-400 font-semibold">Elian Emir</span></p>
      <p class="pl-3">Todos los derechos reservados©️ - 2023</p>
    </div>
  </div>
</footer>
