---
import { app } from '../firebase/server'
import { getFirestore } from 'firebase-admin/firestore'
const db = getFirestore(app)
const handleSubmitContact = async (e:SubmitEvent) => {
  e.preventDefault()
  const formData = await Astro.request.formData()
  const name = formData.get('name')?.toString()
  const email = formData.get('email')?.toString()
  const description = formData.get('description')?.toString()
  try {
    // conect to firebase
    const emailsRef = db.collection('emails')
    await emailsRef.add({
      name,
      email,
      description
    })
  } catch (e) {
   console.error(e)
  }
}  
---


<section
  id='contact'
  class='mt-12 flex flex-col justify-center items-center'
>
<div class="px-4 py-8 container lg:w-[60rem] mx-auto">

  <h3 class='text-center text-3xl font-semibold'>Contactame</h3>
  <form
    method="POST"
    class='mt-6 p-6 mx-auto md:w-2/3 w-full border rounded-md border-gray-300/30 shadow-md shadow-blue-900 my-4 bg-blue-950'

  >
    <div class='flex flex-col gap-2'>
      <label for='name'>Escribe tu nombre</label>
      <input
        type='text'
        name='name'
        id='name'
        class='w-full p-1 rounded-md bg-blue-900/40'
        placeholder='Nombre y apellido'
        required
      />
    </div>
    <div class='flex flex-col gap-2 mt-4'>
      <label for='email'>Dime tu email</label>
      <input
        type='email'
        name='email'
        id='email'
        class='w-full p-1 rounded-md bg-blue-900/40'
        placeholder='correo@correo.com'
        required
      />
    </div>
    <div class='flex flex-col gap-2 mt-4'>
      <label for='description'>Describe tu consulta</label>
      <textarea
        name='description'
        id='description'
        cols='30'
        rows='10'
        placeholder='Escribe aquí tu consulta'
        class='w-full p-1 rounded-md bg-blue-900/40'
        required></textarea>
    </div>
    <button
      type='submit'
      class='g-recaptcha border border-green-600 text-green-600 font-bold uppercase rounded-md mt-4 p-2 hover:text-blue-500 hover:border-blue-500 hover:scale-105 transition-all'
      data-sitekey='6LduEK8oAAAAAJ66kaqWXn8RQuWpKQVgBc28dOdU'
      data-callback='onSubmit'
      data-action='submit'>Enviar consulta</button
    >
  </form>
</div>
</section>
<style is:inline>
  #contact{
    background-image: url('/endless-constellation.svg');
    background-size: contain;
    background-repeat: repeat;
  }
</style>
