---
import Stelle from './Stelle.astro';
---
<section class='hero relative min-h-[15rem] p-4'>
  <Stelle />
  <div
    class='container lg:w-[60rem] mx-auto p-4 flex flex-col justify-around items-center gap-3'
  >
    <div class='w-36 rounded-full shadow-lg overflow-hidden'>
      <img src='/perfil.jpeg' alt='foto perfil' />
    </div>
    <div>
      <h1 class='text-2xl text-center font-bold'>
        Desarrollo <span class='text-blue-600'>Web</span><br/>
        <small>Fullstack</small>
      </h1>
    </div>
    <div class='py-10'>
      <div id="container-text" class="flex flex-col gap-4 m-4 text-sm md:text-lg text-center max-w-lg font-semibold">
        <div class="flex gap-2">
          <img src="/undraw_starry_window.svg" alt="Hombre mirando al cielo" width="100" height="100" class="w-[5rem] md:w-[10rem]" />
          <p>Cuando era niño miraba las estrellas y pensaba en la <span class="underline">cruz del sur como una guía</span> hacia una meta...<span class="font-semibold text-blue-400 text-xl"> un futuro</span></p>
        </div>
        <div class="flex gap-2">
          <p >Mi misión es acompañarte a seguir tu punto de referencia para llegar a tu objetivo... tu <span class="font-semibold text-blue-400 text-xl">futuro </span>.</p>
          <img src="/undraw_counting_stars.svg" alt="Mirando estrellas juntos" width="200" height="200" class="w-[10rem] md:w-[15rem]" />
        </div>
      </div>
      <div class="pt-10">
        <p class='text-3xl'>
            Tu web es a la medida de tus <span class='text-blue-600 font-bold'
            >sueños</span>
        </p>
        <a href="#contact"
          class='block text-center w-1/2 mx-auto mt-10 bg-gradient-to-br from-blue-800 to-blue-600 p-2 rounded-md font-semibold hover:to-blue-800 transition ease'
          >Más información</a>
      </div>
    </div>
  </div>
</section>
<style is:inline>
  #container-text p {
    right: 0%;
    animation: animateText 4s;
  }
  @keyframes animateText {
    0%{
      opacity: 0%;
    }
    100%{
      opacity:100%;
    }
  }  
  
</style>