<section class='hero min-h-[15rem] p-4'>
  <div
    class='container lg:w-[60rem] mx-auto p-4 flex flex-col justify-around items-center gap-3'
  >
    <div class='w-36 rounded-full shadow-lg overflow-hidden'>
      <img src='/perfil.jpeg' alt='foto perfil' />
    </div>
    <div>
      <h1 class='text-2xl text-center font-bold'>
        Desarrollo <span class='text-green-600'>Web</span><br/>
        <small>Fullstack</small>
      </h1>
    </div>
    <div class='py-10'>
      <p class='text-3xl'>
        Tu web a la medida de tus <span class='text-green-600 font-bold'
          >sueños</span>
      </p>
     
      <a href="#contact"
        class='block text-center w-1/2 mx-auto mt-10 bg-gradient-to-br from-green-800 to-green-600 p-2 rounded-md font-semibold hover:to-green-800 transition ease'
        >Más información</a
      >
    </div>
  </div>
</section>
<style is:inline>
  .hero {
		background: center url("/planet.png");
	}
</style>