---
import Card from './Card.astro';

---

<section class="mt-10 p-4 container lg:w-[60rem] mx-auto">
  <h3 class="text-center text-2xl">Proyectos</h3>
  <Card title='Proyecto 1' image='./planet.png' />
</section>