<section class="mt-10 p-4 container lg:w-[60rem] mx-auto">
  <div class="grid grid-flow-col mt-10 ">
    <img src="/react.svg" alt="logo react-js" class="w-16" />
    <img src="/vite.svg" alt="logo react-js" class="w-16" />
  </div>
</section>